//GLOBAL

body {
    background: rosybrown;
    font-family: var(--ff-heading);
    font-size: var(--fs-400);
}

h1 {
    font-size: var(--fs-1100);
    font-weight: var(--fw-800);
}

h2 {
    font-size: var(--fs-1000);
    font-weight: var(--fw-800);
}

h3 {
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
}

h4 {
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
}